:root {
    --input-bg: #161b22;
    --main-bg: #0d1116;
    --main-bg-darker: #070708;
    --color-btn-bg: #21262d;
    --positive-bg: #00695c;

    --border-color: #30363d;
    --border-radius: 6px;
    --gradient-color-1: #e36a34;
    --gradient-color-2: #c65356;
    --gradient-color-3: #e14a96;

    --border-image: linear-gradient(
        var(--gradient-color-1),
        var(--gradient-color-2),
        var(--gradient-color-3)
    )
    15;

    --box-shadow: 0px 0px 3px 0 var(--gradient-color-1),
    0px 0px 3px 0 var(--gradient-color-2),
    0px 0px 3px 0 var(--gradient-color-3)

    --card-transition: 1s linear;

    --font-family-default: arial, helvetica;
    --font-size-default: 14px;
}

html * {
    font-size: var(--font-size-default);
    font-family: var(--font-family-default);
}

/* /////////// */
/*  Scroll bar */
/* /////////// */

/* Scroll bar */
/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Corner */
::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--main-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-btn-bg);
    border-radius: var(--border-radius);
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--border-color);
}

html,
body {
    background-color: var(--main-bg);
    color: white;
    margin: 0;
    height: 100%;
}
div.container {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    width: 90%;
    max-width: 1200px;
}
div.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    flex-wrap: wrap;
}
div.row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
div.flex-between {
    align-items: center;
    justify-content: space-between;
}
div.flex-start {
    align-items: flex-start;
}
.dataArea,
.queryArea {
    background-color: var(--input-bg);
    color: white;
    border: 1px solid var(--border-color);
}

.dataTextArea:focus,
.queryArea:focus {
    outline: none !important;
    border: 1px solid;
    border-image: var(--border-image);
    /* box-shadow: var(--box-shadow); */
}

.queryArea {
    height: 70px;
    width: 100%;
    padding: 0 8px;
    resize: none;
}
input[type="checkbox"] {
    accent-color: var(--gradient-color-2);
}
::placeholder {
    color: whitesmoke;
}
button,
input[type="file"]::file-selector-button {
    color: white;
    padding: 6px 14px;
    border: 1.5px solid;
    cursor: pointer;
    background-color: var(--color-btn-bg);
    border-color: var(--border-color);
    /* border-radius: var(--border-radius); */
}
button:hover,button.pressed,
input[type="file"]::file-selector-button:hover {
    background-color: var(--border-color);
}

button:disabled {
    cursor: initial;
    background-color: var(--main-bg-darker);
    border-color: var(--main-bg-darker);
}

.icon-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

img.icon {
    filter: invert(1);
    width: 15px;
    height: 15px;
}

.dataArea, 
.resultArea {
    align-self: stretch;
    min-width: 100px;
    min-height: 500px;
    background-color: var(--input-bg);
}

.dataTextArea {
    background-color: var(--input-bg);
    border: none;
    width: 100%;
    height: 100%;
    color: inherit;
    resize: vertical;
    min-height: 100%;
}

.dataArea .dataTextArea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.resultArea {
    padding: 2px;
    border: 1px solid;
    border-color: var(--border-color);
    background-color: var(--main-bg-darker);
    margin: 0;
}

.double-panel > .dataArea {
    overflow: hidden;
} 

.dataArea .data-buttons {
    position: absolute;
    top: 2px;
    right: 2px;
}

.resultContainer {
    margin: 0;
}

.iconButton {
    width: 32px;
    height: 32px;
    padding: 0;
    float: right;
    margin: -2px;
    transition: 0.3s ease-out;
    border: 0;
    border-radius: 0;
    margin-left: 2px
}

.iconButton:last-of-type{
    border-bottom-left-radius: 5px;
}

.positiveHightlight {
    border: 1px solid var(--border-color);
    border-image: var(--border-image);
}

.double-panel {
    display: flex;
    width: 100%;
    gap: 10px;
}

.double-panel > * {
    flex: 1;
    overflow: auto;
    position: relative;
}

div.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    background-color: var(--input-bg);
    margin-bottom: 20px;
    padding: 0 10px;
    gap: 10px;
}

div.header .icon {
    width: 24px;
    height: 24px;
}

div.header > a {
    margin-left: auto;
}

.box-container {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.box:first-child > span {
    margin-right: auto;
}

.box:last-child > span {
    margin-left: auto;
}

.toCount {
    display: inline-flex;
}

.hidden {
    display: none !important;
}

#hiddenInfoContainer{
    background-color: var(--main-bg-darker);
    padding: 0 15px;
}

.quick-msg-container {
    background-color: var(--main-bg-darker);
    transition: .2s;
    margin-bottom: 10px;
    padding: 13px;
    width: 100%;
}

.quick-msg-container:empty {
    height: 0;
    padding: 0;
}

/* /////////// */
/*   History   */
/* /////////// */

.historyContainer{
    margin: 10px 0;
}

.card-list {
    max-height: 0;
    transition: 1s;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.card-list:not(.hide) {
    max-height: 350px;
    padding: 3rem;
    margin-bottom: 10px;
    overflow-x: scroll;
}

.card {
    height: 200px;
    width: 100px;
    min-width: 250px;
    padding: 1.5rem;
    background: var(--main-bg);
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
    justify-content: space-between;
    cursor: pointer;
}

.card * {
    cursor: pointer;
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(130px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -130px;
}

.card-header {
    flex: 1;
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.card-header h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    display: inline-block;
}

.card-header h2:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.card-data {
    height: 100px;
    width: 250px;
    overflow: hidden;
    background-color: var(--main-bg-darker);
    border: 1px solid var(--border-color);
    padding: 0px 5px 2px 5px;
    flex: 4;
}

.card:hover .card-data {
    border-image: var(--border-image);
}

.card-data-text {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.card-tags {
    /* padding: .5rem 0 1rem; */
    line-height: 2;
    margin-bottom: 0;
    flex: 1;
}

.card-tags .card-tag {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: white;
    font-size: .66rem;
    border: 2px solid var(--border-color);
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}

.card-time {
    font-size: 0.5rem;
    color: #7e7e7e;
    /* margin: 2px; */
    position: absolute;
    bottom: 0.3rem;
}