:root {
    --input-bg: #161b22;
    --main-bg: #0d1116;
    --main-bg-darker: #070708;
    --color-btn-bg: #21262d;
    --positive-bg: #00695c;

    --border-color: #30363d;
    --border-radius: 6px;
    --gradient-color-1: #e36a34;
    --gradient-color-2: #c65356;
    --gradient-color-3: #e14a96;

    --border-image: linear-gradient(
        var(--gradient-color-1),
        var(--gradient-color-2),
        var(--gradient-color-3)
    )
    15;

    --box-shadow: 0px 0px 3px 0 var(--gradient-color-1),
    0px 0px 3px 0 var(--gradient-color-2),
    0px 0px 3px 0 var(--gradient-color-3)
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Corner */
::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--main-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-btn-bg);
    border-radius: var(--border-radius);
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--border-color);
}

html,
body {
    background-color: var(--main-bg);
    color: white;
    margin: 0;
    height: 100%;
}
div.container {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    width: 90%;
    max-width: 1200px;
}
div.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    flex-wrap: wrap;
}
div.row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
div.flex-between {
    align-items: center;
    justify-content: space-between;
}
div.flex-start {
    align-items: flex-start;
}
.dataArea,
.queryArea {
    background-color: var(--input-bg);
    color: white;
    border: 1px solid var(--border-color);
}

.dataArea:focus,
.queryArea:focus {
    outline: none !important;
    border: 1px solid;
    border-image: var(--border-image);
    /* box-shadow: var(--box-shadow); */
}

.queryArea {
    height: 70px;
    width: 100%;
    padding: 0 8px;
    resize: none;
}
input[type="checkbox"] {
    accent-color: var(--gradient-color-2);
}
::placeholder {
    color: whitesmoke;
}
button,
input[type="file"]::file-selector-button {
    color: white;
    padding: 6px 14px;
    border: 1.5px solid;
    cursor: pointer;
    background-color: var(--color-btn-bg);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
}
button:hover,
input[type="file"]::file-selector-button:hover {
    background-color: var(--border-color);
}

button:disabled {
    cursor: initial;
    background-color: var(--main-bg-darker);
    border-color: var(--main-bg-darker);
}

.icon-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

img.icon {
    filter: invert(1);
    width: 15px;
    height: 15px;
}

.dataArea,
.resultArea {
    align-self: stretch;
    min-width: 100px;
    min-height: 500px;
    background-color: var(--input-bg);
}

.resultArea {
    padding: 2px;
    border: 1px solid;
    border-color: var(--border-color);
    background-color: var(--main-bg-darker);
    margin: 0;
}

.resultContainer {
    margin: 0;
}

.copyButton {
    width: 32px;
    height: 32px;
    padding: 0;
    float: right;
    margin: -2px;
    transition: 0.3s ease-out;
    border: 0;
    border-radius: 0;
    margin-left: 2px
}

.copyButton:last-of-type {
    border-bottom-left-radius: 5px;
}

.positiveHightlight {
    border: 1px solid var(--border-color);
    border-image: var(--border-image);
}

.double-panel {
    display: flex;
    width: 100%;
    gap: 10px;
}

.double-panel > * {
    flex: 1;
    overflow: auto;
}

div.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    background-color: var(--input-bg);
    margin-bottom: 20px;
    padding: 0 10px;
    gap: 10px;
}

div.header .icon {
    width: 24px;
    height: 24px;
}

div.header > a {
    margin-left: auto;
}

.box-container {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.box:first-child > span {
    margin-right: auto;
}

.box:last-child > span {
    margin-left: auto;
}

.toCount {
    display: inline-flex;
}

.hidden {
    display: none !important;
}

#hiddenInfoContainer{
    background-color: #070708;
    padding: 0 15px;
}